.workshopHeader {
  font-size: 3rem;
  text-align: center;

  color: white;
  font-weight: 800;
}

.workshopDiv {
  margin: 5rem auto;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: linear-gradient(0deg, #d98f2a 0%, rgba(253, 187, 45, 1) 100%);
}

.workshopImage {
  border-radius: 50px;
  max-width: 700px;
  height: auto;
  padding: 2rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.workshopText {
  margin: 0;
  padding: 2rem;
  color: white;
  font-size: 1.5rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
}
span {
  display: block;
  margin-top: 2rem;
}

@media only screen and (max-width: 1500px) {
  /* For smaller: */
  .info {
    flex-wrap: wrap;
    text-align: center;
  }
}

@media only screen and (max-width: 850px) {
  /* For smaller: */
  .workshopImage {
    max-width: 400px;
    height: auto;
  }
  .workshopDiv {
    margin: auto;
    border-radius: 0;
  }
  .workshopHeader {
    font-size: 2.5rem;
    text-align: center;

    color: white;
    font-weight: 800;
  }
}
