.nav {
  height: 5rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 3rem;
  width: 100%;

  margin-bottom: 3rem;
  padding: 0.3rem;
}

.nav a {
  text-decoration: none;
  margin-right: 1rem;
  color: #fdbb2d;

  font-weight: 600;
  border: 2.5px solid #fdbb2d;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

a.active {
  color: whitesmoke;
  background-color: #fdbb2d;
  border: 2.5px solid whitesmoke;
  transform: scale(110%);
}

a:hover {
  transform: scale(110%);
}
